doctype html
include navbar
h2 User Form
if message !=''
  p #{message}
form(method='POST' action='/')
  label(for='fname') First name:
  br
  input#fname(type='text' required='' name='fname' value='')
  br
  label(for='lname') Last name:
  br
  input#lname(type='text' required='' name='lname' value='')
  br
  label(for='email') Email:
  br
  input#email(type='email' required='' name='email' value='')
  br
  label(for='phone') Phone:
  br
  input#phone(type='number' required='' name='phone' value='')
  br
  label(for='experience') Experience :
  br
  input#experience(type='text' required='' name='experience' value='')
  br
  label(for='achievements') Achievements :
  br
  input#achievements(type='text' required='' name='achievements' value='')
  br
  br
  input(type='submit' value='Submit')
